<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--
        声明：
        1. 下文的"JS对象"一般特指Vue对象
        特性总结：
        ？ 1. 目前看来，相比较于React，Vue更强调数据与视图的分离，视图与控制逻辑都在html中完成，js只负责构建带有数据和方法的Vue对象
    -->

    <!--  通过 div-id 实现DOM对象与JS对象之间的关联，可以用 {{...}} 直接渲染JS对象中的数据  -->
    <div id="app">
        {{ message }}
    </div>

    <!--
        通过带有 v- 前缀的指令为DOM渲染特殊的DOM行为
        v-bind指令可以绑定DOM元素上的属性与Vue实例
    -->
    <div id="app-2">
        <span v-bind:title="message">
            悬停几秒嗷
        </span>
    </div>

    <!--    -->
    <div id="app-3">
        <p v-if="seen">数学可真是太难了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <!--  DOM元素的 v-on 方法可以调用所关联JS对象的方法  -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">调用函数</button>
    </div>

    <!--  v-model 指定的字段可以实现表单输入和应用状态的双向绑定  -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })

      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: '现在是：' + new Date().toLocaleString()
        }
      })

      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: 1
        }
      })

      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: '数学难吗' },
            { text: '难道不难吗' },
            { text: '数学真tm难' }
          ]
        }
      })

      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: '12345'
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
            console.log(app2.data)
          }
        }
      })

      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: ''
        }
      })



    </script>
    <!--<script src="./index.js"></script>-->
</body>
</html>